#----------------------- <+++ansible-managed-file+++> -------------------------+
#
#                           IMPORTANT WARNING
#
#   This file is managed remotely by Ansible orchestration tool. Any local
#         changes will be overwritten !!! You have been warned !!!
#
#----------------------- <+++ansible-managed-file+++> -------------------------+

{{ hm_pgsql__logdir }}/*.log {
{% for option in hm_pgsql__logrotate_options %}
    {{ option }}
{% endfor %}
}
