#----------------------- <+++ansible-managed-file+++> -------------------------+
#
#                             IMPORTANT WARNING
#
#  This file is managed remotely by Ansible orchestration tool. Any local
#  changes will be overwritten without any notice !!! You have been warned !!!
#
#----------------------- <+++ansible-managed-file+++> -------------------------+

#
# Check running processes.
#
command[check_postgresql]={{ hm_monitored__plugins_dir }}/check_procs -c {{ hm_pgsql__procs_mincnt }}:{{ hm_pgsql__procs_maxcnt }} -C {{ hm_pgsql__process_name }}

#
# Common checks
#
command[check_pg_hitratio]={{ hm_monitored__plugins_dir }}/check_postgres_hitratio --dbuser={{ hm_pgsql__monitoring_user }}
command[check_pg_querytime]={{ hm_monitored__plugins_dir }}/check_postgres_query_time --dbuser={{ hm_pgsql__monitoring_user }} --warning='{{ hm_pgsql__checks.check_postgres_query_time.w }}' --critical='{{ hm_pgsql__checks.check_postgres_query_time.w }}'
command[check_pg_backends]={{ hm_monitored__plugins_dir }}/check_postgres_backends --dbuser={{ hm_pgsql__monitoring_user }}
{% for dbname in hm_pgsql__databases %}

{%- set dbid = dbname | replace('-', '_') %}
#
# Checks for database '{{ dbname }}'.
#
command[check_pg_con_{{ dbid }}]={{ hm_monitored__plugins_dir }}/check_postgres_connection --dbname={{ dbname }} --dbuser={{ hm_pgsql__monitoring_user }}
{% for check in [['check_postgres_bloat', 'blt'], ['check_postgres_last_analyze', 'anl'], ['check_postgres_last_vacuum', 'vac'], ['check_postgres_last_autoanalyze', 'aan'], ['check_postgres_last_autovacuum', 'ava']] %}
{% set thresholds = hm_pgsql__checks[check[0]][dbname]|default(hm_pgsql__checks[check[0]]) %}
{% if thresholds is mapping %}
command[check_pg_{{ check[1] }}_{{ dbid }}]={{ hm_monitored__plugins_dir }}/{{ check }} --dbname={{ dbname }} --dbuser={{ hm_pgsql__monitoring_user }} --warning='{{ thresholds.w }}' --critical='{{ thresholds.c }}' --exclude='pg_catalog.' --exclude='alembic_version'
{% endif %}
{% endfor %}
{% endfor %}