#----------------------- <+++ansible-managed-file+++> -------------------------+
#
#                             IMPORTANT WARNING
#
#  This file is managed remotely by Ansible orchestration tool. Any local
#  changes will be overwritten without any notice !!! You have been warned !!!
#
#----------------------- <+++ansible-managed-file+++> -------------------------+

#
# Check running processes.
#
command[check_postgresql]={{ hm_monitored__plugins_dir }}/check_procs -c {{ hm_pgsql__procs_mincnt }}:{{ hm_pgsql__procs_maxcnt }} -C {{ hm_pgsql__process_name }}

#
# Common checks
#
{{ hm_monitored__plugins_dir }}/check_postgres_hitratio --dbuser={{ hm_pgsql__monitoring_user }}
{{ hm_monitored__plugins_dir }}/check_postgres_query_time --dbuser={{ hm_pgsql__monitoring_user }} --warning='{{ hm_pgsql__checks.check_postgres_query_time.w }}' --critical='{{ hm_pgsql__checks.check_postgres_query_time.w }}'
{% for dbname in hm_pgsql__databases %}

{%- set dbid = dbname | replace('-', '_') %}
#
# Checks for database '{{ dbname }}'.
#
command[check_pg_con_{{ dbid }}]={{ hm_monitored__plugins_dir }}/check_postgres_connection --dbname={{ dbname }} --dbuser={{ hm_pgsql__monitoring_user }}
command[check_pg_bck_{{ dbid }}]={{ hm_monitored__plugins_dir }}/check_postgres_backends --dbname={{ dbname }} --dbuser={{ hm_pgsql__monitoring_user }}
command[check_pg_blt_{{ dbid }}]={{ hm_monitored__plugins_dir }}/check_postgres_bloat --dbname={{ dbname }} --dbuser={{ hm_pgsql__monitoring_user }} --warning='{{ hm_pgsql__checks.check_postgres_bloat.w }}' --critical='{{ hm_pgsql__checks.check_postgres_bloat.c }}'
command[check_pg_anl_{{ dbid }}]={{ hm_monitored__plugins_dir }}/check_postgres_last_analyze --dbname={{ dbname }} --dbuser={{ hm_pgsql__monitoring_user }} --warning='{{ hm_pgsql__checks.check_postgres_last_analyze.w }}' --critical='{{ hm_pgsql__checks.check_postgres_last_analyze.c }}' --exclude='pg_catalog.'
command[check_pg_vac_{{ dbid }}]={{ hm_monitored__plugins_dir }}/check_postgres_last_vacuum --dbname={{ dbname }} --dbuser={{ hm_pgsql__monitoring_user }} --warning='{{ hm_pgsql__checks.check_postgres_last_vacuum.w }}' --critical='{{ hm_pgsql__checks.check_postgres_last_vacuum.c }}' --exclude='pg_catalog.'
command[check_pg_aan_{{ dbid }}]={{ hm_monitored__plugins_dir }}/check_postgres_last_autoanalyze --dbname={{ dbname }} --dbuser={{ hm_pgsql__monitoring_user }} --warning='{{ hm_pgsql__checks.check_postgres_last_autoanalyze.w }}' --critical='{{ hm_pgsql__checks.check_postgres_last_autoanalyze.c }}' --exclude='pg_catalog.'
command[check_pg_ava_{{ dbid }}]={{ hm_monitored__plugins_dir }}/check_postgres_last_autovacuum --dbname={{ dbname }} --dbuser={{ hm_pgsql__monitoring_user }} --warning='{{ hm_pgsql__checks.check_postgres_last_autovacuum.w }}' --critical='{{ hm_pgsql__checks.check_postgres_last_autovacuum.c }}' --exclude='pg_catalog.'
{% endfor %}