#----------------------- <+++ansible-managed-file+++> -------------------------+
#
#                             IMPORTANT WARNING
#
#  This file is managed remotely by Ansible orchestration tool. Any local
#  changes will be overwritten without any notice !!! You have been warned !!!
#
#----------------------- <+++ansible-managed-file+++> -------------------------+

#
# Check running processes.
#
/usr/lib/nagios/plugins/check_procs -c 8:100 -C postgres | sed 's/:/ -/' | cut -f 1 -d \|;
